appdirs==1.4.3
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
dj-database-url==0.4.2
Django==1.10.6
django-cas-ng==3.5.6
django-webpack-loader==0.4.1
gunicorn==19.7.1
html5lib==0.999999999
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-cas==1.2.0
requests==2.13.0
serpy==0.1.1
six==1.10.0
ujson==1.35
webencodings==0.5
whitenoise==3.3.0
